* {
  scroll-behavior: smooth !important;
}
*::-webkit-scrollbar {
  display: none;
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
